Repository sanselme/Sandbox, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, github-actions, devcontainer, config, scripting, tooling

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - changed-files:
      - any-glob-to-any-file: "*"

# Add 'github-actions' label to any changes in the '.github' directory
github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - .github/actions/*
          - .github/actions/*/**
          - .github/auto_assign.yml
          - .github/auto_assign.yml/**
          - .github/dependabot.yml
          - .github/dependabot.yml/**
          - .github/workflows/*
          - .github/workflows/*/**

# Add 'devcontainer' label to any changes in the '.devcontainer' directory
# Add 'devcontainer' label to any changes in the 'docker-compose.yml' file
devcontainer:
  - changed-files:
      - any-glob-to-any-file:
          - .devcontainer/*
          - .devcontainer/*/**
          - .devcontainer/devcontainer.json
          - .devcontainer/devcontainer.json/**
          - docker-compose.yml
          - docker-compose.yml/**

# Add 'config' label to any changes in the 'config' directory
config:
  - changed-files:
      - any-glob-to-any-file:
          - config/*
          - config/**

# Add 'scripting' label to any changes in the 'scripts' directory
scripting:
  - changed-files:
      - any-glob-to-any-file:
          - scripts/*
          - scripts/*/**

# Add 'tooling' label to any changes in the 'build' directory
tooling:
  - changed-files:
      - any-glob-to-any-file:
          - tools/*
          - tools/**

fix: Update helloce to send request to hellod
  pkg/service/helloce/cloudevents.go
Labels: none

feature: Initial hello cli
  pkg/client/cli/Sources/cli.swift
Labels: none

feature: Initial hello web client
  pkg/client/web/.gitignore
  pkg/client/web/Assets/css/xcode-light.min.css
  pkg/client/web/Sources/components/footer.swift
  pkg/client/web/Sources/components/navbar.swift
  pkg/client/web/Sources/configuration/robot.swift
  pkg/client/web/Sources/hello.swift
  pkg/client/web/Sources/layouts/defaultlayout.swift
  pkg/client/web/Sources/pages/form.swift
  pkg/client/web/Sources/pages/home.swift
  pkg/client/web/Sources/themes/defaulttheme.swift
  pkg/client/web/Sources/web.swift
Labels: none

feature: Add Kustomization configuration for sandbox namespace
  hack/hello/kustomization.yaml
  hack/hello/svc.yaml
Labels: none

feature: Add initial eBPF and Linux kernel module implementations
  pkg/kernel/linux/ebpf/Cargo.toml
  pkg/kernel/linux/ebpf/src/main.rs
  pkg/kernel/linux/lkm/Makefile
  pkg/kernel/linux/lkm/hello.rs
Labels: none

feature: Add logo, navigation bar, social footer, and layout components for the web client
  pkg/client/web/Assets/css/xcode-light.min.css
  pkg/client/web/Assets/images/logo.svg
  pkg/client/web/Package.resolved
  pkg/client/web/Package.swift
  pkg/client/web/README.md
  pkg/client/web/Sources/components/navbar.swift
  pkg/client/web/Sources/components/socialfooter.swift
  pkg/client/web/Sources/configuration/robots.swift
  pkg/client/web/Sources/hello.swift
  pkg/client/web/Sources/layouts/defaultlayout.swift
  pkg/client/web/Sources/pages/home.swift
  pkg/client/web/Sources/themes/defaulttheme.swift
Labels: none

feature: Add README files for CLI, Web, Gateway, Event, and Service components
  README.md
  pkg/client/cli/README.md
  pkg/client/web/README.md
  pkg/gateway/README.md
  pkg/service/helloce/README.md
  pkg/service/hellod/README.md
  todo.md
Labels: repo

fix: Update helloweb deps
  pkg/client/apple/hello.xcodeproj/project.xcworkspace/xcuserdata/schubert.xcuserdatad/UserInterfaceState.xcuserstate
  pkg/client/web/Package.swift
  pkg/client/web/Sources/web.swift
Labels: none

feature: Add initial implementation of hellobpf with CLI support
  pkg/kernel/freertos/helloesp/.gitignore
  pkg/kernel/linux/bpf/Cargo.toml
  pkg/kernel/linux/bpf/src/main.rs
Labels: none

fix: Update hellocli deps
  pkg/client/cli/Package.resolved
  pkg/client/cli/Package.swift
Labels: none

Update README.md
  hack/README.md
  pkg/gateway/README.md
Labels: none

feature: Add initial implementation of Linux kernel modules for cdev, gpio, sysfs, and hello
  pkg/kernel/linux/lkm/legacy/Makefile
  pkg/kernel/linux/lkm/legacy/cdev.c
  pkg/kernel/linux/lkm/legacy/gpio.c
  pkg/kernel/linux/lkm/legacy/hello.c
  pkg/kernel/linux/lkm/legacy/sysfs.c
Labels: none

feature: Add initial implementation of helloesp with Swift support
  pkg/kernel/freertos/.gitignore
  pkg/kernel/freertos/blinky/CMakeLists.txt
  pkg/kernel/freertos/blinky/diagram.json
  pkg/kernel/freertos/blinky/main/idf_component.yml
  pkg/kernel/freertos/blinky/wokwi.toml
  pkg/kernel/freertos/helloesp/CMakeLists.txt
  pkg/kernel/freertos/helloesp/README.md
  pkg/kernel/freertos/helloesp/dependencies.lock
  pkg/kernel/freertos/helloesp/main/BridgingHeader.h
  pkg/kernel/freertos/helloesp/main/CMakeLists.txt
  pkg/kernel/freertos/helloesp/main/idf_component.yml
  pkg/kernel/freertos/helloesp/main/led.swift
  pkg/kernel/freertos/helloesp/main/main.swift
  pkg/kernel/freertos/helloesp/sdkconfig
Labels: none

feature: Add initial implementation of flash and cluster management scripts
  hack/README.md
  hack/boilerplate.txt
  hack/pod.yaml
  tools/.gitignore
  tools/cluster
  tools/dependencies.md
  tools/flash
  tools/sandbox
Labels: tooling

devcontainer: Add Dockerfile and update .gitignore for build context
  .devcontainer/.gitignore
  build/.gitignore
  build/image/Dockerfile
  compose-dev.yaml
Labels: repo, devcontainer

ci: Add 'models: read' permission to trivy and scorecard jobs in cicd.yml
  .github/workflows/cicd.yml
Labels: github-actions

chore: Add submodule entries for googleapis and grpc-gateway in .gitmodules
  .gitmodules
Labels: repo

chore: Remove obsolete toolchain scripts and tools
  scripts/aliases.sh
  scripts/configure.sh
  scripts/environment.sh
  scripts/genswaggerui.sh
  scripts/install
  scripts/install.sh
  tools/kind
  tools/minikube
Labels: scripting, tooling

feature: Add core components for task management and VGA buffer handling
  pkg/mandelbrot/Cargo.toml
  pkg/mandelbrot/src/lib.rs
  pkg/mandelbrot/src/main.rs
  pkg/oscore/Cargo.toml
  pkg/oscore/aarch64.json
  pkg/oscore/src/gdt.rs
  pkg/oscore/src/interrupt.rs
  pkg/oscore/src/lib.rs
  pkg/oscore/src/main.rs
  pkg/oscore/src/malloc/bump.rs
  pkg/oscore/src/malloc/fixed_sized_block.rs
  pkg/oscore/src/malloc/linked_list.rs
  pkg/oscore/src/malloc/malloc.rs
  pkg/oscore/src/memory.rs
  pkg/oscore/src/serial.rs
  pkg/oscore/src/task/executor.rs
  pkg/oscore/src/task/keyboard.rs
  pkg/oscore/src/task/simple_executor.rs
  pkg/oscore/src/task/task.rs
  pkg/oscore/src/vga_buffer.rs
  pkg/oscore/tests/heap_allocation.rs
  pkg/oscore/tests/should_panic.rs
  pkg/oscore/tests/stack_overflow.rs
  pkg/oscore/x86_64.json
Labels: none

feature: Add gRPC Greeter service implementation and web components
  pkg/hello/Content/API.md
  pkg/hello/Package.resolved
  pkg/hello/Package.swift
  pkg/hello/Sources/api/api.swift
  pkg/hello/Sources/api/google/api/annotations.proto
  pkg/hello/Sources/api/google/api/http.proto
  pkg/hello/Sources/api/grpc-swift-proto-generator-config.json
  pkg/hello/Sources/api/protoc-gen-openapiv2/options/annotations.proto
  pkg/hello/Sources/api/protoc-gen-openapiv2/options/openapiv2.proto
  pkg/hello/Sources/api/v1/hello.proto
  pkg/hello/Sources/cli/GreeterClient.swift
  pkg/hello/Sources/server/Greeter.swift
  pkg/hello/Sources/server/HelloServer.swift
  pkg/hello/Sources/web/Components/Footer.swift
  pkg/hello/Sources/web/Components/NavBar.swift
  pkg/hello/Sources/web/Configuration/Robot.swift
  pkg/hello/Sources/web/Hello.swift
  pkg/hello/Sources/web/Layouts/DefaultLayout.swift
  pkg/hello/Sources/web/Pages/Form.swift
  pkg/hello/Sources/web/Pages/Home.swift
  pkg/hello/Sources/web/Themes/DefaultTheme.swift
  pkg/hello/Sources/web/Web.swift
Labels: none

feature: Add initial project structure and implementation for hello app
  pkg/hello/Sources/apple/hello.xcodeproj/project.pbxproj
  pkg/hello/Sources/apple/hello.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  pkg/hello/Sources/apple/hello/Assets.xcassets/AccentColor.colorset/Contents.json
  pkg/hello/Sources/apple/hello/Assets.xcassets/AppIcon.appiconset/Contents.json
  pkg/hello/Sources/apple/hello/Assets.xcassets/Contents.json
  pkg/hello/Sources/apple/hello/ContentView.swift
  pkg/hello/Sources/apple/hello/Item.swift
  pkg/hello/Sources/apple/hello/Preview Content/Preview Assets.xcassets/Contents.json
  pkg/hello/Sources/apple/hello/hello.entitlements
  pkg/hello/Sources/apple/hello/helloApp.swift
  pkg/hello/Sources/apple/helloTests/helloTests.swift
  pkg/hello/Sources/apple/helloUITests/helloUITests.swift
  pkg/hello/Sources/apple/helloUITests/helloUITestsLaunchTests.swift
Labels: none

feature: add event and gateway modules with gRPC-Gateway integration
  pkg/hello/Sources/api/go.mod
  pkg/hello/Sources/event/cloudevent.go
  pkg/hello/Sources/event/go.mod
  pkg/hello/Sources/event/go.sum
  pkg/hello/Sources/event/main.go
  pkg/hello/Sources/gateway/gateway.go
  pkg/hello/Sources/gateway/go.mod
  pkg/hello/Sources/gateway/go.sum
  pkg/hello/Sources/gateway/main.go
  pkg/hello/Sources/gateway/openapi.go
  pkg/hello/go.work
Labels: none

feature: Add initial implementation of the hello kernel module
  pkg/hello/Sources/kernel/Makefile
  pkg/hello/Sources/kernel/hello.rs
Labels: none

feature: Add Wokwi configuration file for firmware project
  pkg/hello/Sources/firmware/CMakeLists.txt
  pkg/hello/Sources/firmware/dependencies.lock
  pkg/hello/Sources/firmware/diagram.json
  pkg/hello/Sources/firmware/main/BridgingHeader.h
  pkg/hello/Sources/firmware/main/CMakeLists.txt
  pkg/hello/Sources/firmware/main/idf_component.yml
  pkg/hello/Sources/firmware/main/led.swift
  pkg/hello/Sources/firmware/main/main.swift
  pkg/hello/Sources/firmware/sdkconfig.old
  pkg/hello/Sources/firmware/wokwi.toml
Labels: none

chore: Update git modules
  .gitmodules
Labels: repo
