Repository sanselme/Sandbox, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, github-actions, devcontainer, config, scripting, tooling

chore: Update README.md
  .cargo/config.toml
  Cargo.toml
  README.md
  buf.gen.yaml
  go.work
  pkg/api/.gitignore
  pkg/api/Package.swift
  pkg/api/go.mod
  pkg/api/lib.rs
  pkg/api/package.json
Labels: repo

chore: Update git submodules
  .gitignore
  .shellcheckrc
  .trunk/configs/.shellcheckrc
  .trunk/trunk.yaml
Labels: repo

chore: Update git submodules (#69)
  .gitignore
  .shellcheckrc
  .trunk/configs/.shellcheckrc
  .trunk/trunk.yaml
Labels: repo

feat: Implement gRPC greeter service with health check and CloudEvent support
  .gitignore
  buf.gen.yaml
  buf.yaml
  docs/README.md
  docs/openapi/swagger-initializer.js
  docs/openapi/v1/hello.swagger.json
  docs/openapi/v1alpha1/cloudevent.swagger.json
  docs/openapi/v1alpha1/health.swagger.json
  docs/openapi/v1alpha1/route_guide.swagger.json
  pkg/api/Package.swift
  pkg/api/buf.build.yaml
  pkg/api/v1/hello.proto
  pkg/api/v1alpha1/cloudevent.proto
  pkg/api/v1alpha1/health.proto
  pkg/api/v1alpha1/helloworld.proto
  pkg/api/v1alpha1/route_guide.proto
  pkg/hello/.gitignore
  pkg/hello/Package.swift
  pkg/hello/Sources/client/cli.swift
  pkg/hello/Sources/server/daemon.swift
  pkg/hello/Sources/server/greeter.swift
  scripts/genswaggerui.sh
Labels: repo, scripting

feat: Implement gRPC greeter service with health check and CloudEvent support (#70)
  .gitignore
  buf.gen.yaml
  buf.yaml
  docs/README.md
  docs/openapi/swagger-initializer.js
  docs/openapi/v1/hello.swagger.json
  docs/openapi/v1alpha1/cloudevent.swagger.json
  docs/openapi/v1alpha1/health.swagger.json
  docs/openapi/v1alpha1/route_guide.swagger.json
  pkg/api/Package.swift
  pkg/api/buf.build.yaml
  pkg/api/v1/hello.proto
  pkg/api/v1alpha1/cloudevent.proto
  pkg/api/v1alpha1/health.proto
  pkg/api/v1alpha1/helloworld.proto
  pkg/api/v1alpha1/route_guide.proto
  pkg/hello/.gitignore
  pkg/hello/Package.swift
  pkg/hello/Sources/client/cli.swift
  pkg/hello/Sources/server/daemon.swift
  pkg/hello/Sources/server/greeter.swift
  scripts/genswaggerui.sh
Labels: repo, scripting

devcontainer: Update devcontainer config
  .devcontainer/devcontainer.json
  scripts/environment.sh
Labels: devcontainer, scripting

feature: Add installation scripts for Node.js, Go, Rust, and Swift
  scripts/install/build.sh
  scripts/install/go.sh
  scripts/install/node.sh
  scripts/install/rust.sh
  scripts/install/swift.sh
Labels: scripting

feature: Add gRPC gateway implementation with Go module support
  .gitignore
  Package.swift
  buf.gen.yaml
  docs/README.md
  docs/openapi/swagger-initializer.js
  go.work
  pkg/api/go.mod
  pkg/hellogw/go.mod
  pkg/hellogw/main.go
Labels: repo

feature: Add gRPC gateway implementation with Go module support (#71)
  .devcontainer/devcontainer.json
  .gitignore
  Package.swift
  buf.gen.yaml
  docs/README.md
  docs/openapi/swagger-initializer.js
  go.work
  pkg/api/go.mod
  pkg/hellogw/go.mod
  pkg/hellogw/main.go
  scripts/environment.sh
  scripts/install/build.sh
  scripts/install/go.sh
  scripts/install/node.sh
  scripts/install/rust.sh
  scripts/install/swift.sh
Labels: repo, devcontainer, scripting

feature: Implement gRPC client in Go for the greeter service
  .gitignore
  go.work
  pkg/api/go.mod
  pkg/hello/Sources/client/cli.swift
  pkg/helloclient/go/cli.go
  pkg/helloclient/go/go.mod
  pkg/helloclient/go/main.go
  pkg/hellogw/gw.go
Labels: repo

docs: Regenerate openapi
  .gitignore
  buf.gen.yaml
  docs/README.md
  docs/openapi/index.css
  docs/openapi/index.html
  docs/openapi/oauth2-redirect.html
  docs/openapi/swagger-initializer.js
  docs/openapi/swagger-ui-bundle.js
  docs/openapi/swagger-ui-es-bundle-core.js
  docs/openapi/swagger-ui-es-bundle-core.js.map
  docs/openapi/swagger-ui-es-bundle.js
  docs/openapi/swagger-ui-standalone-preset.js
  docs/openapi/swagger-ui.css
  docs/openapi/swagger-ui.css.map
  docs/openapi/swagger-ui.js
  docs/openapi/swagger-ui.js.map
  scripts/genswaggerui.sh
Labels: repo, scripting

feature: Implement gRPC greeter service with health check and CloudEvent support
  buf.gen.yaml
  docs/README.md
Labels: repo

feature: Add gRPC gateway implementation with Go module support
  buf.gen.yaml
  docs/README.md
Labels: repo

feature: Implement gRPC client in Go for the greeter service (#72)
  .gitignore
  buf.gen.yaml
  docs/README.md
  docs/openapi/index.css
  docs/openapi/index.html
  docs/openapi/oauth2-redirect.html
  docs/openapi/swagger-initializer.js
  docs/openapi/swagger-ui-bundle.js
  docs/openapi/swagger-ui-es-bundle-core.js
  docs/openapi/swagger-ui-es-bundle-core.js.map
  docs/openapi/swagger-ui-es-bundle.js
  docs/openapi/swagger-ui-standalone-preset.js
  docs/openapi/swagger-ui.css
  docs/openapi/swagger-ui.css.map
  docs/openapi/swagger-ui.js
  docs/openapi/swagger-ui.js.map
  go.work
  pkg/api/go.mod
  pkg/hello/Sources/client/cli.swift
  pkg/helloclient/go/cli.go
  pkg/helloclient/go/go.mod
  pkg/helloclient/go/main.go
  pkg/hellogw/gw.go
  scripts/genswaggerui.sh
Labels: repo, scripting

feature: Add OpenAPI support
  Package.swift
  README.md
  buf.gen.yaml
  buf.yaml
  docs/openapi/README.md
  docs/openapi/embed.go
  docs/openapi/go.mod
  docs/openapi/index.css
  docs/openapi/index.html
  docs/openapi/oauth2-redirect.html
  docs/openapi/swagger-initializer.js
  docs/openapi/swagger-ui-bundle.js
  docs/openapi/swagger-ui-es-bundle-core.js
  docs/openapi/swagger-ui-es-bundle.js
  docs/openapi/swagger-ui-standalone-preset.js
  docs/openapi/swagger-ui.css
  docs/openapi/swagger-ui.js
  docs/openapi/v1/hello.swagger.json
  docs/openapi/v1alpha1/cloudevent.swagger.json
  docs/openapi/v1alpha1/health.swagger.json
  docs/openapi/v1alpha1/route_guide.swagger.json
  go.work
  pkg/api/go.mod
  pkg/api/v1/hello.proto
  pkg/api/v1alpha1/health.proto
  pkg/api/v1alpha1/route_guide.proto
  pkg/helloclient/go/go.mod
  pkg/hellogw/go.mod
  pkg/hellogw/gw.go
  pkg/hellogw/openapi.go
Labels: repo

fix: Installation script for sbctl
  scripts/install/go.sh
Labels: scripting

fix: Installation script for sbctl (#74)
  pkg/api/Package.swift
  scripts/install/go.sh
Labels: scripting

fix: Package.swift
  pkg/api/Package.swift
  pkg/hello/Package.swift
Labels: none

feature: Add Rust client for greeter service with CLI support
  .trunk/trunk.yaml
  Cargo.lock
  Cargo.toml
  buf.gen.yaml
  docs/openapi/README.md
  docs/openapi/v1/hello.swagger.json
  docs/openapi/v1alpha1/health.swagger.json
  docs/openapi/v1alpha1/route_guide.swagger.json
  pkg/api/lib.rs
  pkg/helloclient/rust/Cargo.toml
  pkg/helloclient/rust/src/main.rs
Labels: repo

feature: Add Rust client for greeter service with CLI support (#75)
  .trunk/trunk.yaml
  Cargo.lock
  Cargo.toml
  buf.gen.yaml
  docs/openapi/README.md
  docs/openapi/v1/hello.swagger.json
  docs/openapi/v1alpha1/health.swagger.json
  docs/openapi/v1alpha1/route_guide.swagger.json
  pkg/api/lib.rs
  pkg/helloclient/rust/Cargo.toml
  pkg/helloclient/rust/src/main.rs
Labels: repo

networking: Add gateways
  hack/.gitignore
  hack/gateway
Labels: none

networking: Add gateways (#79)
  hack/.gitignore
  hack/gateway/default.yaml
  hack/gateway/grpc.yaml
  hack/gateway/knative.yaml
  hack/gateway/kustomization.yaml
  hack/gateway/tcp.yaml
  hack/gateway/tls.yaml
  hack/manifest
Labels: none

deployment: Add knative
  hack/.gitignore
  hack/knative/backstage/clusterrole.yaml
  hack/knative/backstage/clusterrolebinding.yaml
  hack/knative/backstage/controller.yaml
  hack/knative/backstage/kustomization.yaml
  hack/knative/backstage/sa.yaml
  hack/knative/backstage/service.yaml
  hack/knative/net-gateway/clusterrole.yaml
  hack/knative/net-gateway/config-gateway.yaml
  hack/knative/net-gateway/controller.yaml
  hack/knative/net-gateway/kustomization.yaml
  hack/knative/net-gateway/validating-webhook.yaml
  hack/knative/net-gateway/webhook-deployment.yaml
  hack/knative/net-gateway/webhook-secret.yaml
  hack/knative/net-gateway/webhook-service.yaml
  hack/knative/rabbitmq/kustomization.yaml
  hack/knative/rabbitmq/service.yaml
Labels: none

deployment: Add knative (#80)
  hack/.gitignore
  hack/knative/backstage/clusterrole.yaml
  hack/knative/backstage/clusterrolebinding.yaml
  hack/knative/backstage/controller.yaml
  hack/knative/backstage/kustomization.yaml
  hack/knative/backstage/sa.yaml
  hack/knative/backstage/service.yaml
  hack/knative/net-gateway/clusterrole.yaml
  hack/knative/net-gateway/config-gateway.yaml
  hack/knative/net-gateway/controller.yaml
  hack/knative/net-gateway/kustomization.yaml
  hack/knative/net-gateway/validating-webhook.yaml
  hack/knative/net-gateway/webhook-deployment.yaml
  hack/knative/net-gateway/webhook-secret.yaml
  hack/knative/net-gateway/webhook-service.yaml
  hack/knative/rabbitmq/broker/broker.yaml
  hack/knative/rabbitmq/broker/config.yaml
  hack/knative/rabbitmq/broker/kustomization.yaml
  hack/knative/rabbitmq/cluster/cluster.yaml
  hack/knative/rabbitmq/cluster/kustomization.yaml
  hack/knative/rabbitmq/cluster/namespace.yaml
  hack/knative/rabbitmq/kustomization.yaml
  hack/knative/rabbitmq/service.yaml
  hack/knative/rabbitmq/source/kustomization.yaml
  hack/knative/rabbitmq/source/source.yaml
Labels: none

deployment: Add crd
  deployment/crd/kustomization.yaml
  deployment/crd/remoteclustertemplate.yaml
Labels: none

deployment: Add crd (#81)
  deployment/crd/kustomization.yaml
  deployment/crd/remoteclustertemplate.yaml
Labels: none

docs: Update readme
  README.md
  hack/.gitignore
  hack/README.md
  scripts/install/go.sh
Labels: repo, scripting

docs: Update readme (#82)
  README.md
  hack/.gitignore
  hack/README.md
  scripts/install/go.sh
Labels: repo, scripting

Update README.md
  README.md
Labels: repo

docs: Update readme (#82)
  .gitignore
  Cargo.toml
  README.md
  compose-dev.yaml
  go.work
  hack/.gitignore
  hack/README.md
  pkg/hello/lang/go/cli.go
  pkg/hello/lang/go/go.mod
  pkg/hello/lang/go/go.sum
  pkg/hello/lang/go/main.go
  pkg/hello/lang/rs/Cargo.toml
  pkg/hello/lang/rs/src/main.rs
  pkg/lib/Cargo.toml
  pkg/lib/go.mod
  pkg/lib/lib.rs
  scripts/environment.sh
  scripts/install/go.sh
Labels: repo, scripting

docs: Update readme (#82)
  .gitignore
  Cargo.toml
  README.md
  compose-dev.yaml
  go.work
  hack/.gitignore
  hack/README.md
  pkg/hello/lang/go/cli.go
  pkg/hello/lang/go/go.mod
  pkg/hello/lang/go/go.sum
  pkg/hello/lang/go/main.go
  pkg/hello/lang/rs/Cargo.toml
  pkg/hello/lang/rs/src/main.rs
  pkg/lib/Cargo.toml
  pkg/lib/go.mod
  pkg/lib/lib.rs
  scripts/environment.sh
  scripts/install/go.sh
Labels: repo, scripting

chore: Add git modules images and charts
  .gitmodules
  build/image/devcontainer
  build/image/kubernetes-entrypoint
  deployment/chart/capi
  deployment/chart/cert-manager
  deployment/chart/cni
  deployment/chart/csi
  deployment/chart/gitea-runner
  deployment/chart/knative
  deployment/chart/lgtm
  deployment/chart/osh
Labels: repo

chore: Add git modules images and charts (#85)
  .gitmodules
  build/image/devcontainer
  build/image/kubernetes-entrypoint
  deployment/chart/capi
  deployment/chart/cert-manager
  deployment/chart/cni
  deployment/chart/csi
  deployment/chart/gitea-runner
  deployment/chart/knative
  deployment/chart/lgtm
  deployment/chart/osh
Labels: repo

Update README.md
  README.md
Labels: repo

Update README.md (#87)
  README.md
Labels: repo

docs: Initial schema (#86)
  docs/README.md
  hack/schema/global/vyos.yaml
  hack/schema/group/build.yaml
  hack/schema/group/cloud.yaml
  hack/schema/group/cluster.yaml
  hack/schema/group/core.yaml
  hack/schema/group/drot.yaml
  hack/schema/group/exec.yaml
  hack/schema/group/firmware.yaml
  hack/schema/group/hardware.yaml
  hack/schema/group/kernel.yaml
  hack/schema/group/os.yaml
  hack/schema/group/osh.yaml
  hack/schema/group/pkg.yaml
  hack/schema/group/ref.yaml
  hack/schema/group/server.yaml
  hack/schema/group/service.yaml
  hack/schema/group/shell.yaml
  hack/schema/group/source.yaml
  hack/schema/group/status.yaml
  hack/schema/group/uri.yaml
  hack/schema/group/version.yaml
  pkg/hello/Package.swift
  pkg/hello/Sources/controller/cli.swift
  pkg/hello/Sources/lib
  pkg/hello/Sources/web/cli.swift
  scripts/install/rust.sh
  scripts/install~HEAD
Labels: scripting

site: Initial workspace build config
  build/workspace.yaml
Labels: none

clos: Initial se config
  config/se.yaml
Labels: config

clos: Initial run config
  config/run.yaml
Labels: config

ci: Initial build
  build/image/Dockerfile.hellod
  tools/.gitignore
  tools/README.md
  tools/branch
  tools/cache
  tools/dependencies.md
  tools/scratch
Labels: tooling

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - changed-files:
      - any-glob-to-any-file: "*"

# Add 'github-actions' label to any changes in the '.github' directory
github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - .github/actions/*
          - .github/actions/*/**
          - .github/auto_assign.yml
          - .github/auto_assign.yml/**
          - .github/dependabot.yml
          - .github/dependabot.yml/**
          - .github/workflows/*
          - .github/workflows/*/**

# Add 'devcontainer' label to any changes in the '.devcontainer' directory
# Add 'devcontainer' label to any changes in the 'docker-compose.yml' file
devcontainer:
  - changed-files:
      - any-glob-to-any-file:
          - .devcontainer/*
          - .devcontainer/*/**
          - .devcontainer/devcontainer.json
          - .devcontainer/devcontainer.json/**
          - docker-compose.yml
          - docker-compose.yml/**

# Add 'config' label to any changes in the 'config' directory
config:
  - changed-files:
      - any-glob-to-any-file:
          - config/*
          - config/**

# Add 'scripting' label to any changes in the 'scripts' directory
scripting:
  - changed-files:
      - any-glob-to-any-file:
          - scripts/*
          - scripts/*/**

# Add 'tooling' label to any changes in the 'build' directory
tooling:
  - changed-files:
      - any-glob-to-any-file:
          - tools/*
          - tools/**
