Repository sanselme/Sandbox, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, github-actions, devcontainer, config, scripting, tooling

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - changed-files:
      - any-glob-to-any-file: "*"

# Add 'github-actions' label to any changes in the '.github' directory
github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - .github/actions/*
          - .github/actions/*/**
          - .github/auto_assign.yml
          - .github/auto_assign.yml/**
          - .github/dependabot.yml
          - .github/dependabot.yml/**
          - .github/workflows/*
          - .github/workflows/*/**

# Add 'devcontainer' label to any changes in the '.devcontainer' directory
# Add 'devcontainer' label to any changes in the 'docker-compose.yml' file
devcontainer:
  - changed-files:
      - any-glob-to-any-file:
          - .devcontainer/*
          - .devcontainer/*/**
          - .devcontainer/devcontainer.json
          - .devcontainer/devcontainer.json/**
          - docker-compose.yml
          - docker-compose.yml/**

# Add 'config' label to any changes in the 'config' directory
config:
  - changed-files:
      - any-glob-to-any-file:
          - config/*
          - config/**

# Add 'scripting' label to any changes in the 'scripts' directory
scripting:
  - changed-files:
      - any-glob-to-any-file:
          - scripts/*
          - scripts/*/**

# Add 'tooling' label to any changes in the 'build' directory
tooling:
  - changed-files:
      - any-glob-to-any-file:
          - tools/*
          - tools/**

feature: Add utility functions and initial CloudEvents receiver implementation
  lib/utils/util.go
  lib/utils/util.rs
  lib/utils/util.swift
  pkg/service/helloce/cloudevents.go
  pkg/service/helloce/go.sum
Labels: none

feature: Add HTTPRoute configurations for headlamp and registry services
  hack/.gitignore
  hack/httproute.yaml
Labels: none

fix: Update hellosvc and hellogw
  pkg/gateway/gateway.go
  pkg/service/hellod/Sources/daemon.swift
Labels: none

feature: Implement main function and entry point for helloce service
  api/Package.swift
  pkg/gateway/gateway.go
  pkg/service/helloce/cloudevents.go
  pkg/service/helloce/go.mod
  pkg/service/helloce/go.sum
  pkg/service/helloce/main.go
Labels: none

feature: Add .gitignore for sel4 directory to exclude all files except itself
  pkg/kernel/sel4/.gitignore
Labels: none

docs: Update hack/README.md
  hack/README.md
Labels: none

feature: Initial hello web client
  pkg/client/web/.gitignore
  pkg/client/web/Assets/css/xcode-light.min.css
  pkg/client/web/Sources/components/footer.swift
  pkg/client/web/Sources/components/navbar.swift
  pkg/client/web/Sources/configuration/robot.swift
  pkg/client/web/Sources/hello.swift
  pkg/client/web/Sources/layouts/defaultlayout.swift
  pkg/client/web/Sources/pages/form.swift
  pkg/client/web/Sources/pages/home.swift
  pkg/client/web/Sources/themes/defaulttheme.swift
  pkg/client/web/Sources/web.swift
Labels: none

fix: Update hellogw go.mod
  pkg/gateway/go.mod
Labels: none

feature: Initial hello cli
  pkg/client/cli/Sources/cli.swift
Labels: none

fix: Update helloce to send request to hellod
  pkg/service/helloce/cloudevents.go
Labels: none

feature: Initial hello web client
  pkg/client/web/Content/readme.md
Labels: none

feature: Add README files for CLI, Web, Gateway, Event, and Service components
  README.md
  pkg/client/cli/README.md
  pkg/client/web/README.md
  pkg/gateway/README.md
  pkg/service/helloce/README.md
  pkg/service/hellod/README.md
  todo.md
Labels: repo

feature: Add initial eBPF and Linux kernel module implementations
  pkg/kernel/linux/ebpf/Cargo.toml
  pkg/kernel/linux/ebpf/src/main.rs
  pkg/kernel/linux/lkm/Makefile
  pkg/kernel/linux/lkm/hello.rs
Labels: none

feature: Add Kustomization configuration for sandbox namespace
  hack/hello/kustomization.yaml
  hack/hello/svc.yaml
Labels: none

feature: Add logo, navigation bar, social footer, and layout components for the web client
  pkg/client/web/Assets/css/xcode-light.min.css
  pkg/client/web/Assets/images/logo.svg
  pkg/client/web/Package.resolved
  pkg/client/web/Package.swift
  pkg/client/web/README.md
  pkg/client/web/Sources/components/navbar.swift
  pkg/client/web/Sources/components/socialfooter.swift
  pkg/client/web/Sources/configuration/robots.swift
  pkg/client/web/Sources/hello.swift
  pkg/client/web/Sources/layouts/defaultlayout.swift
  pkg/client/web/Sources/pages/home.swift
  pkg/client/web/Sources/themes/defaulttheme.swift
Labels: none

fix: Update helloweb deps
  pkg/client/apple/hello.xcodeproj/project.xcworkspace/xcuserdata/schubert.xcuserdatad/UserInterfaceState.xcuserstate
  pkg/client/web/Package.swift
  pkg/client/web/Sources/web.swift
Labels: none

feature: Add initial implementation of hellobpf with CLI support
  pkg/kernel/freertos/helloesp/.gitignore
  pkg/kernel/linux/bpf/Cargo.toml
  pkg/kernel/linux/bpf/src/main.rs
Labels: none

fix: Update hellocli deps
  pkg/client/cli/Package.resolved
  pkg/client/cli/Package.swift
Labels: none

Update README.md
  hack/README.md
  pkg/gateway/README.md
Labels: none

feature: Add initial implementation of Linux kernel modules for cdev, gpio, sysfs, and hello
  pkg/kernel/linux/lkm/legacy/Makefile
  pkg/kernel/linux/lkm/legacy/cdev.c
  pkg/kernel/linux/lkm/legacy/gpio.c
  pkg/kernel/linux/lkm/legacy/hello.c
  pkg/kernel/linux/lkm/legacy/sysfs.c
Labels: none

feature: Add initial implementation of helloesp with Swift support
  pkg/kernel/freertos/.gitignore
  pkg/kernel/freertos/blinky/CMakeLists.txt
  pkg/kernel/freertos/blinky/diagram.json
  pkg/kernel/freertos/blinky/main/idf_component.yml
  pkg/kernel/freertos/blinky/wokwi.toml
  pkg/kernel/freertos/helloesp/CMakeLists.txt
  pkg/kernel/freertos/helloesp/README.md
  pkg/kernel/freertos/helloesp/dependencies.lock
  pkg/kernel/freertos/helloesp/main/BridgingHeader.h
  pkg/kernel/freertos/helloesp/main/CMakeLists.txt
  pkg/kernel/freertos/helloesp/main/idf_component.yml
  pkg/kernel/freertos/helloesp/main/led.swift
  pkg/kernel/freertos/helloesp/main/main.swift
  pkg/kernel/freertos/helloesp/sdkconfig
Labels: none

feature: Add initial implementation of flash and cluster management scripts
  hack/README.md
  hack/boilerplate.txt
  hack/pod.yaml
  tools/.gitignore
  tools/cluster
  tools/dependencies.md
  tools/flash
  tools/sandbox
Labels: tooling

devcontainer: Change image to ubuntu:24.04
  compose-dev.yaml
  tools/minikube~45f1d31 (feature: Add initial implementation of FreeRTOS blinky example and utility functions)
Labels: repo, tooling

feature: Add VHDL simulation script for shift register and testbench
  scripts/shiftreg.tcl
Labels: scripting

site: Initial workspace build config
  build/workspace.yaml
Labels: none

clos: Initial run config
  config/run.yaml
Labels: config

docs: Initial schema (#86)
  docs/README.md
  hack/schema/global/vyos.yaml
  hack/schema/group/build.yaml
  hack/schema/group/cloud.yaml
  hack/schema/group/cluster.yaml
  hack/schema/group/core.yaml
  hack/schema/group/drot.yaml
  hack/schema/group/exec.yaml
  hack/schema/group/firmware.yaml
  hack/schema/group/hardware.yaml
  hack/schema/group/kernel.yaml
  hack/schema/group/os.yaml
  hack/schema/group/osh.yaml
  hack/schema/group/pkg.yaml
  hack/schema/group/ref.yaml
  hack/schema/group/server.yaml
  hack/schema/group/service.yaml
  hack/schema/group/shell.yaml
  hack/schema/group/source.yaml
  hack/schema/group/status.yaml
  hack/schema/group/uri.yaml
  hack/schema/group/version.yaml
  pkg/hello/Package.swift
  pkg/hello/Sources/controller/cli.swift
  pkg/hello/Sources/lib
  pkg/hello/Sources/web/cli.swift
  scripts/install/rust.sh
  scripts/install~HEAD
Labels: scripting

clos: Initial se config
  config/se.yaml
Labels: config

ci: Initial build
  build/image/Dockerfile.hellod
  tools/.gitignore
  tools/README.md
  tools/branch
  tools/cache
  tools/dependencies.md
  tools/scratch
Labels: tooling

feature: Add initial implementation of FreeRTOS blinky example and utility functions
  api/.gitignore
  buf.yaml
  build/image/Dockerfile.hellod
  build/workspace.yaml
  hack/README.md
  lib/Package.swift
  lib/lib.rs
  pkg/hello/Package.swift
  pkg/hello/Sources/controller/cli.swift
  pkg/hello/Sources/lib
  pkg/hello/Sources/web/cli.swift
  pkg/kernel/freertos/blinky/CMakeLists.txt
  pkg/kernel/freertos/blinky/dependencies.lock
  pkg/kernel/freertos/blinky/diagram.json
  pkg/kernel/freertos/blinky/main/BridgingHeader.h
  pkg/kernel/freertos/blinky/main/CMakeLists.txt
  pkg/kernel/freertos/blinky/main/idf_component.yml
  pkg/kernel/freertos/blinky/main/led.swift
  pkg/kernel/freertos/blinky/main/main.swift
  pkg/kernel/freertos/blinky/sdkconfig
  pkg/kernel/freertos/blinky/wokwi.toml
  pkg/service/helloce/cli.go
  pkg/service/helloce/go.mod
  pkg/service/helloce/main.go
  scripts/install/rust.sh
  scripts/install~HEAD
  todo.md
  tools/README.md
Labels: repo, scripting, tooling

feature: Add HTTPRoute configurations for headlamp and registry services
  hack/.gitignore
  hack/httproute.yaml
Labels: none

feature: Add .gitignore files, utility functions, and initial FreeRTOS smart light implementation
  pkg/kernel/freertos/.gitignore
  pkg/kernel/freertos/smartlight/CMakeLists.txt
  pkg/kernel/freertos/smartlight/Matter/Attribute.swift
  pkg/kernel/freertos/smartlight/Matter/Clusters.swift
  pkg/kernel/freertos/smartlight/Matter/Matter.swift
  pkg/kernel/freertos/smartlight/Matter/MatterInterface.cpp
  pkg/kernel/freertos/smartlight/Matter/MatterInterface.h
  pkg/kernel/freertos/smartlight/Matter/Node.swift
  pkg/kernel/freertos/smartlight/dependencies.lock
  pkg/kernel/freertos/smartlight/main/BridgingHeader.h
  pkg/kernel/freertos/smartlight/main/CMakeLists.txt
  pkg/kernel/freertos/smartlight/main/idf_component.yml
  pkg/kernel/freertos/smartlight/main/led.swift
  pkg/kernel/freertos/smartlight/main/main.swift
  pkg/kernel/freertos/smartlight/partitions.csv
  pkg/kernel/freertos/smartlight/sdkconfig
  pkg/kernel/freertos/smartlight/sdkconfig.defaults
  pkg/kernel/freertos/smartlight/sdkconfig.defaults.esp32c6
Labels: none

feature: Implement main function and entry point for helloce service
  api/Package.swift
  pkg/gateway/gateway.go
  pkg/service/helloce/cloudevents.go
  pkg/service/helloce/go.mod
  pkg/service/helloce/go.sum
  pkg/service/helloce/main.go
Labels: none

feature: Add .gitignore for sel4 directory to exclude all files except itself
  pkg/kernel/sel4/.gitignore
Labels: none

fix: Update hellosvc and hellogw
  pkg/gateway/gateway.go
  pkg/service/hellod/Sources/daemon.swift
Labels: none

feature: Add utility functions and initial CloudEvents receiver implementation
  lib/utils/util.go
  lib/utils/util.rs
  lib/utils/util.swift
  pkg/service/helloce/cloudevents.go
  pkg/service/helloce/go.sum
Labels: none

feature: Add .gitignore and initial API module implementation
  api/Package.resolved
  api/api.v1.rs
  api/api.v1.serde.rs
  api/api.v1.tonic.rs
  api/go.sum
  api/lib.rs
Labels: none

docs: Update hack/README.md
  hack/README.md
Labels: none

fix: Update hellogw go.mod
  pkg/gateway/go.mod
Labels: none

feature: Initial hello web client
  pkg/client/web/Content/readme.md
Labels: none
